doctype html

html
  head
    meta(charset='utf-8')
    
  body
div(style='width:420px;')
#login &#xBA54;&#xC138;&#xC9C0; &#xBCF4;&#xB0B4;&#xAE30;
    form(action='png' method='post' enctype="multipart/form-data")
      h 파일 :
      br
      input(type='file' name='userfile')
      br
      h 채널 아이디 :
      br
      input(type='text' name='id')
      br
      input(type='submit' title='전송' value='전송')
